* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
article {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  border: 2px solid black;
  background-image: url(./kepek/hatter.jpg);
  background-size: contain;
  min-height: 100vh;
  color: white;
}
/* --------------HEADER- NAV-------------------- */
header {
  border: 1px solid black;
  background-image: url(./kepek/qwe.jpg);
  height: 300px;
  min-height: 300px;
  max-height: 300px;
  width: 100%;
  background-size: cover;
}

nav {
  width: 100%;
  max-height: 50px;
  background-image: url(./kepek/yellow2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 50px;
  max-height: 50px;
}
nav ul li {
  /* display: flex;
    padding: 0; */
  list-style-type: none;
  margin-right: 130px;
  padding: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  justify-content: center;
  padding: 5px;
}

nav ul li a {
  text-decoration: none;
}

.link {
  color: #ff0901;
  text-shadow: #f1f1f1 0px 0px 2px, #dfdbdb 2px 2px 0px;
  color: #f82c08;
  font-size: 20px;
  font-weight: bolder;
  transition: 2ms;
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 5px;
}

nav ul li a:hover {
  font-size: 25px;
}
/* ------------------------- KÖZÉPSŐ --------------------- */
aside {
  color: white;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.kozep {
  width: 100%;
  display: flex;
  margin-top: 70px;
}

.bal {
  width: 20%;
}

.jobb {
  width: 20%;
}

article {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

/* ----------------------FŐOLDAL-------------------------*/
.flexsor {
  display: flex;
  flex: 100%;
  flex-direction: column;
  /* width: 100%; */
  padding-left: 10px;
  padding-right: 10px;
}

.flexsor img {
  margin: 10px;
  padding: 10px;
}
.fooldalkep {
  max-width: 800px;
  width: auto;
  min-width: 300px;
}

.flexitem {
  display: flex;
  /* max-height: 100%; */
  padding: 20px;
  /* width: 100%; */
  gap: 5px;
  flex-flow: wrap;
  justify-content: center;
}

.flexitem-nagy {
  display: flex;
  padding-top: 20px;
  gap: 100px;
  flex-wrap: nowrap;
  justify-content: center;
}

.flexitem-nagy img {
  height: 350px;
}

/* --------------------CANDIDE--------------------- */
.flexitem5 {
  display: flex;
  height: 250px;
  gap: 5px;
  flex-flow: nowrap;
  flex: 5%;
}
.flexitem5 img {
  height: 200px;
  width: 200px;
}

/* .flexitem-nagy {
  display: flex;
  flex: 0 0 45%;
  gap: 100px;
  height: 150px;
  flex-wrap: nowrap;
} */

/* ------------------------ footer ------------------------ */

footer {
  border: solid 1px black;
  text-align: center;
  height: 3vh;
  background-image: url(./kepek/yellow2.jpg);
  /* opacity: 0.5; */
}
/* -----------------------űrlap------------------------------- */
article {
  margin: auto;
  background-color: rgba(228, 181, 12, 0.329);
  box-shadow: 10px 10px 5px 0px rgba(211, 198, 16, 0.765);
  width: 100%;
  color: #000000;
  font-size: 25px;
}
.flexitem2 {
  display: flex;
  align-content: flex-start;
  flex-flow: column;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
}

/* .flexitem2:nth-child(3) {
  height: 100px;
} */

form {
  padding: 100px;
  /* background-color: rgba(250, 194, 9, 0.361);
    box-shadow: 10px 10px 5px 0px rgba(211, 198, 16, 0.765); */
}

textarea,
select,
form input {
  background-color: rgba(255, 255, 255, 0.397);
  color: #000000;
  font-size: 25px;
}
.urlap {
  background-color: #a3833d;
}

/* ----------------------ELŐLAP------------- */
.dirr {
  margin-left: auto;
  margin-right: auto;
}

.durr {
  margin: auto;
}

.btn,
.btn2,
.btn3 {
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  perspective: 900px;
}

.btn {
  font-size: 0;
  background-image: url(kepek/kepregeny-comic-life-3-nyitokep.webp);
  background-size: 150%;
  background-position: center;
}

.btn2 {
  font-size: 0;
  background-image: url(candid/1.jpg);
  background-size: 98%;
  background-position: center;
}

.btn3 {
  font-size: 0;
  background-image: url(kepek/ürlapkep.bmp);
  background-size: 100%;
  background-position: center;
}

.btn:hover {
  font-size: 50px;
  background-image: none;
  background-color: #f80808;
  will-change: transform;
  transition: transform 450ms;
}

.btn2:hover {
  font-size: 50px;
  background-image: none;
  background-color: #08431d;
  will-change: transform;
  transition: transform 450ms;
}

.btn3:hover {
  font-size: 50px;
  background-image: none;
  background-color: #a3833d;
  will-change: transform;
  transition: transform 450ms;
}

/* -----------------töréspont--------------- */

@media only screen and (max-width: 1322px) {
  .flexitem2 {
    display: flex;
    align-content: flex-start;
    flex-flow: column;
    flex-wrap: wrap;
  }

  main {
    height: auto;
  }

  article {
    max-width: 700px;
  }
  textarea {
    max-width: 500px;
  }
}

@media only screen and (max-width: 1500px) {
  .fooldalkep {
    max-width: 600px;
    min-width: 500px;
  }

  article {
    max-width: 850px;
  }
}
@media only screen and (max-width: 1000px) {
  .fooldalkep {
    max-width: 500px;
    min-width: 400px;
  }
  article {
    max-width: 500px;
  }

  .flexitem2 {
    max-width: 300px;
  }

  textarea {
    max-width: 300px;
  }

  option {
    font-size: 12px;
  }

}
@media only screen and (max-width: 800px) {
  .fooldalkep {
    max-width: 400px;
    min-width: 300px;
  }
  article {
    max-width: 400px;
  }
  input {
    max-width: 200px;
  }
  
  textarea {
    max-width: 200px;
  }
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}
@media only screen and (max-width: 768px) {
  article {
    max-width: 500px;
  }

  .flexitem2 {
    max-width: 200px;
  }

  textarea {
    max-width: 200px;
  }
}
/* ------------------------------------ */
.main {
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 30px;
  margin: 10px 50px;
  letter-spacing: 6px;
  font-weight: bold;
}

#typedtext {
  padding: 100px;
  text-align: center;
  font-size: 25px;
}

textarea {
  width: 700px;
  height: 300px;
}

.submit {
  margin-left: 10px;
  width: 150px;
  height: 30px;
  font-size: 20px;
}
