* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
article {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  border: 2px solid black;
  background-image: url(/képek/hatter.jpg);
  background-size: contain;
  height: 100vh;
  color: white;
}

header {
  width: 100%;
  border: 1px solid black;
}
nav {
  width: 100%;
  background-image: url(/képek/yellow2.jpg);
  background-size: cover;
  background-position: center;
}
nav ul li {
  /* display: flex;
    padding: 0; */
  list-style-type: none;
  margin-right: 10px;
  padding: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 5px;
}

nav ul li a {
  text-decoration: none;
}

.link {
  color: #ff0901;
  text-shadow: #f1f1f1 0px 0px 2px, #dfdbdb 2px 2px 0px;
  color: #f82c08;
  font-size: 20px;
  font-weight: bolder;
  transition: 2ms;

}

#demo {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 5px;
}

nav ul li a:hover {
    font-size: 25px;
}
/* ------------------------- KÖZÉPSŐ --------------------- */
aside {
    color: white;
    text-align: justify;
}

.kozep {
  width: 100%;
  display: flex;
  margin-top: 70px;
}

.bal {
  width: 20%;
}

.jobb {
  width: 20%;
}

article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /* flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch; */
}

.flexsor {
    display: flex;
    flex: 100%;
    flex-direction: row-reverse;
    padding-left: 10px;
    padding-right: 10px;

}

.flexitem {
  display: flex;
  max-height: 150px;
  height: 140px;
  gap: 5px;
  flex-flow: nowrap;
  flex: 30%;
}


.flexitem-nagy {
  display: flex;
  flex: 0 0 45%;
  gap: 100px;
  height: 150px;
  flex-wrap: nowrap;
}

/* ------------------------ footer ------------------------ */

footer {
  border: solid 1px black;
  text-align: center;
  height: 3vh;
  background-image: url(/képek/yellow2.jpg);
  /* opacity: 0.5; */
  
}
/* -----------------------űrlap------------------------------- */
article {
    margin: auto;
    background-color: rgba(250, 194, 9, 0.361);
    box-shadow: 10px 10px 5px 0px rgba(211, 198, 16, 0.765);
    width: 50vw;
}
.flexitem2 {
    display: flex;
    align-content: flex-end;
    flex-flow: row;
    gap: 10px;
    flex-wrap: nowrap;
    padding: 10px;

}

.flexitem2:nth-child(3) {
    height: 100px;
}

form {
    padding: 100px;
    /* background-color: rgba(250, 194, 9, 0.361);
    box-shadow: 10px 10px 5px 0px rgba(211, 198, 16, 0.765); */
}

textarea, select, form input {
    background-color: rgba(211, 198, 16, 0.765);

}

/* -------------------------header--------------- */

header {
    background-image: url(/képek/qwe.jpg);
    height: 300px;
}

/* -----------------töréspont--------------- */


@media only screen and (max-width: 1322px) {
    .flexitem2 {
        display: flex;
        align-content: flex-start;
        flex-flow: column;
        flex-wrap: wrap;
    
    }
    
    .flexitem2:nth-child(3) {
        flex-wrap: wrap;
    }

    main {
        height: auto;
    }
  }

